@import "_util";

.larva {
  position: relative;

  > .body {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
  }

  > .body.body1 {
    top: 100px;
    left: 100px;
    background-color: rgb(0, 0, 166);

    > .eye.eye-white {
      @include eye();
      width: 40%;
      height: 40%;
      left: 50%;
      top: 50%;
      transform: translateX(-70%) translateY(-90%);
      background-color: #fff;
      > .eye.eye-black {
        @include eye();
        width: 50%;
        height: 50%;
        left: 0px;
        top: 10px;
        background-color: #000;
      }
    }
  }

  > .body2 {
    top: 150px;
    left: 160px;
    background-color: rgb(36, 61, 206);
  }

  > .body3 {
    top: 190px;
    left: 200px;
    background-color: rgb(52, 118, 231);
  }

  > .body4 {
    top: 240px;
    left: 220px;
    background-color: rgb(47, 146, 233);
  }

  > .body5 {
    top: 280px;
    left: 280px;
    background-color: rgb(140, 191, 253);
    z-index: 10;
  }

  > .grass {
    position: absolute;
    top: 260px;
    left: 0;
  }
}
