@import "_util";

.box {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  position: relative;

  & .one1 {
    @include one(moveOne1);
    background-color: $color-red;
  }
  & .one2 {
    @include one(moveOne2);
    background-color: $color-yellow;
  }
  & .one3 {
    @include one(moveOne3);
    background-color: $color-green;
  }
}
